.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 20px;
}

.tab-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #ccc;
  border-radius: 8px;
  transition: 0.2s;
}

.tab-btn.active {
  background: #3b82f6;
  color: white;
}

.food-item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 8px;
}

#tab-content {
  max-width: 700px;
  margin: 0 auto;
}
